.content{
  overflow: auto;
}

.home {
    margin-left: 7rem;
    display: flex;
    height: 92vh;
}
.role-container {
    text-align: center;
}
#role-edit {
    border: none;
    border-bottom: 1px solid black;
}
.role-container button {
    background: #1A0057;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 1rem;

}
.bi-pencil-fill {
    color: #1A0057;
}
.profile {
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 100%;
    padding: 60px 0px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    animation: transitionIn 1s ease;
}
.profile #email {
    text-align: center;
}

.profile #manager {
    text-align: center;
}
label, .name {
    color: #1D015F;
    font-weight: 700;
    line-height: 22px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin: 2rem;
    padding: 1rem;
}
.nav-home {
    display: flex;
    gap: 5rem;
    margin-left: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-home a {
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-size: 1.2rem;;
}
.nav-home a.active {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: -0.5rem;
    box-shadow: 0px 4px 4px rgba(26, 0, 87, 0.54);
    animation: transitionIn 1s ease;
}

.prof-picture {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(200, 193, 216) border-box;
    border: 5px solid transparent;
}

@media only screen and (max-width: 700px){
    .profile {
        display: none;
    }
    .nav-home {
        gap: 1rem;
    }
    .home {
        margin-left: 3rem;
    }
}
