<div class="main">

    <app-add-meet *ngIf="currentUser.role==='MANAGER'"></app-add-meet>


    <div >
        <label class="cg-label" for="pending-goals">
            Zakazani sastanci
            <i class="bi bi-chevron-up" (click)="toggleActiveMeets(false)" *ngIf="showActiveMeets"></i>
            <i class="bi bi-chevron-down" (click)="toggleActiveMeets(true)" *ngIf="!showActiveMeets"></i>
        </label>
        <div class="my-3 goal-list" *ngIf="showActiveMeets">
            <app-active-meet *ngFor="let activeMeet of activeMeets"
            [activeMeet]="activeMeet" ></app-active-meet>
        </div>

    </div>

    <div >
        <label class="cg-label" for="pending-goals">
            Istorija sastanaka
            <i class="bi bi-chevron-up" (click)="toggleOldMeets(false)" *ngIf="showOldMeets"></i>
            <i class="bi bi-chevron-down" (click)="toggleOldMeets(true)" *ngIf="!showOldMeets"></i>
        </label>
        <div class="my-3 goal-list" *ngIf="showActiveMeets">
            <app-old-meet *ngFor="let oldMeet of oldMeets"
            [oldMeet]="oldMeet" ></app-old-meet>
        </div>

    </div>

</div>
