<div class="modal" tabindex="-1" role="dialog" id="popup">
    <div lass="modal-dialog" role="document">
        <div class="modal-content">
            <i class="bi bi-x-lg" (click)="closeModal()"></i>
            
            <h3>Da li ste sigurni da želite da se odjavite?</h3>
            
            <div class="button-container">
                <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Ne</button>
                <button type="button" class="btn btn-outline-secondary" (click)="logout()">Da</button>
            </div>
        </div>
    </div>
</div>