i {
    font-size: 1.4rem;
}
.ag-label {
    font-size: 1.4rem;
    font-weight: 700;
}
.cg-label {
    font-size: 1.4rem;
    font-weight: 700;
}
.goal-list {
    animation: transitionIn 1s ease;
}

:host ::ng-deep #completed-goals .goal-list .progress {
    display: none;
}
:host ::ng-deep #completed-goals .goal-list .bi-pencil-fill {
    display: none;
}
:host ::ng-deep #completed-goals .goal-list .form-check {
    pointer-events: none;
}
:host ::ng-deep #completed-goals .goal-list button {
    display: none;
}
:host ::ng-deep #pending-goals .goal {
    background: linear-gradient(0deg, rgba(29, 1, 95, 0.1), rgba(29, 1, 95, 0.1)),
    linear-gradient(0deg, #F1F0F0, #F1F0F0);
    border: 1px solid rgba(29, 1, 95, 0.1);
}


